body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    box-shadow: 0px 0px 25px;
    background: white; 
    width: 1150px; 
    height: 500px; 
    display: flex; 
    border: 1px solid black; 
    margin: 150px auto; 
    padding: 10px; 
    border-radius: 10px;
    transition-duration: 0.2s;
  transition-property: transform;
}
.card:hover{
    transform: scale(1.1);
}

h1:hover{
    transform: scale(1.1);
}
h1 {
    font-weight: bold;
    transition-duration: 0.2s;
  transition-property: transform;
}

p:hover{
    font-weight: 20;
    font-size: 20px;
    transform: scale(1.1);
    
    color: chocolate;
}
p{
    font-weight: bold; 
    font-size: 20px;
    transition-duration: 0.2s;
    transition-property: transform;
}

button {
    margin-top: 50px; display: flex;;
}
.Download button:hover {
    background-color: orangered;
}
.home-icon{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    font-size: 20px;
    
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:50px; top:0px;}
    50%  {color:blue; left:50px; top:50px;}
    75%  {color:gold; left:0px; top:50px;}
    100% {color:pink; left:0px; top:0px;}
  }

.kiri .desc p {
    font-size: 18px;
    font-weight: bold;
}
.kanan:hover{
    transform: scale(1.1);
}
.kiri{
    width: 60%;
    margin: 20px;
    padding: 10px;
}
.kanan{
    width: 40%; 
    margin: 50px; 
    box-sizing: border-box; 
    background: white; 
    margin-top: 25px;
    transition-duration: 0.2s;
  transition-property: transform;
}
.download{
    margin-top: 50px;
    display: flex;
}
.icon{
    margin: 50px;
    text-decoration: none;
    list-style-type: none;
    transition-duration: 0.2s;
  transition-property: transform;
}
.icon a i:hover{
    border: 5px solid white;
    color: chocolate;
    transform: scale(1.1);
}

nav {
    background-color: lightgray;
    display: flex;
    align-items: center;
}
nav:hover{
    border: 3px solid grey;
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    padding: 4px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    transition-duration: 0.2s;
  transition-property: transform;
}
nav ul li a:hover {
    color: orangered;
    font-size: 25px;
    transform: scale(1.1);
}
.nav-kiri {
    flex: 50%;
}
.nav-kanan {
    text-align: end;
}
.download a:hover {
    background-color: white;
}
h5:hover{
    box-shadow: 0px 0px 15px;
}
